body {
    padding: 0px;
    margin: 0px auto;
    scroll-behavior: smooth;
    /* background: whitesmoke !important; */
}
/* .card{
  background: white !important;
  border: 0px !important;

} */
* {

    /* text-align: left; */
    /* margin: 0px auto; */
    /* direction: rtl !important;*/
}

::-webkit-scrollbar {
    width: 14px;
    cursor: pointer !important;
}

/* Track */
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey;*/
    /*border-radius: 10px;*/
    cursor: pointer !important;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: dimgray;
    border-radius: 17px;
    cursor: pointer !important;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkgray;
    cursor: pointer !important;

}


a {
    text-decoration: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    border: none;
}
input:focus {
    outline: none !important;
    /* border:1px solid red; */
    box-shadow: 0 0 3px lightgray;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: #2c3e50;
    /* padding: 0px 30px;
    text-align: left; */
    overflow-x: hidden;
}

#nav {
    padding: 30px;
    text-align: center;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
}

#nav a.router-link-exact-active {
    color: #0d6efd;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    transform: translateY(20px);
}
.fade-enter-to,
.fade-leave-from {
    opacity: 1;
    transform: translateY(0px);
}
.fade-enter-active,
.fade-leave-active {
    transition: all 1s ease;
}

.switch-enter-from {
    opacity: 0;
    /* transform: scale(0, 1); */
    transform: translateY(50px);
}
.switch-leave-to {
    opacity: 0;
    transform: translateY(-50px);
}
.switch-enter-to,
.switch-leave-from {
    opacity: 1;
    transform: translateY(0px);
}
.switch-enter-active {
    transition: all 1s ease;
}
.switch-leave-active {
    transform: translateY(50px) !important;
    transition: all 1s ease;
    position: absolute !important;
}
.switch-move {
    transition: all 1s ease;
}

.fadeItems-enter-from,
.fadeItems-leave-to {
    opacity: 0;
    transform: scale(0, 0);
    transform: rotate(-20deg);
}
.fadeItems-enter-to,
.fadeItems-leave-from {
    opacity: 1;
    transform: scale(1, 1);
    transform: rotate(0deg);
}
.fadeItems-enter-active,
.fadeItems-leave-active {
    transition: all 1s ease;
}
.zoom-enter-from,
.zoom-leave-to {
    opacity: 0;
    transform: scale(0, 0);
}
.zoom-enter-to,
.zoom-leave-from {
    opacity: 1;
    transform: scale(1, 1);
}
.zoom-enter-active {
    transition: all 1s ease;
    animation-delay: 0.2;
}
.zoom-leave-active {
    transition: all 0.5s ease;
    transform: scale(0, 0) !important;
    position: absolute;
    right: calc(50% - 155px);
}
.zoom-move {
    transition: all 1s ease;
}

.route-enter-from {
    opacity: 0;
    transform: translateX(-100px);
}
.route-leave-to {
    opacity: 0;
    transform: translateX(100px);
}

.route-enter-active {
    transition: all 0.5s ease-out;
}
.route-leave-active {
    transition: all 0.5s ease-in;
    /* transform: scale(0, 0) !important; */
    /* position: absolute; */
    /* right: calc(50% - 250px); */
}
#outerr {
    overflow-x: hidden;
}
